#!/usr/bin/make -f

build:
	@dh_testdir
	@dh_testroot
	@dh_clean
	@dh_installdirs

binary: build
	./package-copy-files.sh
	@touch build-stamp
	@dh_testdir
	@dh_testroot
	@dh_install --sourcedir=debian/tmp
	@dh_lintian
	@dh_fixperms
	@dh_installdeb
	@dh_gencontrol
	@dh_md5sums
	@dh_builddeb
clean:
	@dh_clean

